*{
  margin: 0;
  padding: 0;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #b0eafc;
}
button{
  cursor: pointer;
}
footer{
  height: 40px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}
input{
  font-size: 1.2em;
  padding: .7em;
  font-weight: bold;
  border-radius: 6px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background: rgb(56, 37, 163);
  position: fixed;
  top: 0;
}
i:hover{
  color: #b0eafc;
}
select{
  /* -webkit-appearance: none; */
  font-size: 1.5em;
  padding: .7em;
  font-weight: bold;
}
.about-text{
 padding: 10% 10%;
 line-height: 1.5em
}
.card-title{
  margin-top: 8%;
  color: hsl(19, 100%, 50%);
  font-size: 3em;
}
.center-heading{
  display: flex;
  width: 100%;
  justify-content: center;
  letter-spacing: 4px;
  font-weight: bold;
}
.center-underline{
  display: flex;
  width: 100%;
  justify-content: center;
  /* flex-direction: column; */
}
.enter-button{
  background: #3258c0;
  font-size: 2em;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 18px;
  margin-top: 20px;
}
.fa-phone-alt, .fa-tablet-alt, .fa-laptop-medical, .fa-toolbox, .fa-robot, .fa-chart-bar{
  color: rgb(53, 23, 221);
}
.footer-icons{
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}
/* .form-quarter{
  margin: 20px 10px;
} */
.header-link{
  font-size: 1.3em;
}

.header-link:hover{
  cursor: pointer;
  text-shadow:
  -1px -1px 0 rgb(60, 60, 60),
  1px -1px 0 rgb(60, 60, 60),
  -1px 1px 0 rgb(60, 60, 60),
  1px 1px 0 rgb(60, 60, 60);
  transition: .2s;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-card-child{
  text-align: center;
  width: 25%;
  margin: 2%;
  line-height: 1.5em;
  font-size: .9em;

}
.home-card-about{
  display: flex;
  margin: 5px 90px;
}
.home-card-services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.landing-bg{
  margin: 0;
  color: white;
  height: 100vh;
  width: 100%;
  background-image: url('./assets/landing-bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.landing-heading{
  font-size: 9em;
  letter-spacing: 10px;
  font-family: 'Russo One';
}
.landing-sub-heading{
  font-family: 'DM Serif Text';
  letter-spacing: 5px;
  font-size: 2em;
}
.link-parent{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.quote-child{
  width: 50%;
  padding: 5% 10%;
  font-size: .9em;
}
.quote-child-form{
  width: 50%;
  height: 500px;
  background-color: rgba(165, 162, 162, 0.316);
  margin-right: 2%;
  margin-bottom: 10%;
}
.quote-form-grid{
  display: grid;
  /* grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto; */
  grid-template-areas: 
    'fname lname'
    'email phone'
    'services empty'
    'comment comment'
    'comment comment'
    'comment comment'
    'comment comment'
    'comment comment'
    'button button'
    'button button'
    'button button';
  column-gap: 3%;
  padding: 5%;
  row-gap: 8%;
}
.quote-parent{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.underline{
  width: 90px;
  border-top: solid hsl(19, 100%, 50%) 3px;
  margin: 20px;
}
#button{
  grid-area: button;
  color: rgb(53, 23, 221);
  border: rgb(53, 23, 221) solid 2px;
  background-color: white;
  font-weight: bold;
  font-size: 1.5em;
}
#button:hover{
  color: white;
  background-color: rgb(53, 23, 221);
  transition: 1s;

}
#comment{
  grid-area: comment;
}
#email{
  grid-area: email
}
#empty{
  grid-area: empty;
}
#fname{
  grid-area: fname;
}
#lname{
  grid-area: lname;
}
#phone{
  grid-area: phone;
}
#services{
  grid-area: services;
}
